[Unit]
Description=AI Live Chat
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/ailivechat
EnvironmentFile=-/var/www/ailivechat/.env
ExecStart=/var/www/ailivechat/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:5100 "wsgi:application"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
